@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-size: 62.2%;
    background: #FF3131;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    width: 20rem;
}

.btn-entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 55%;
    transform: translate(-75%, -55%);
}

.btn-entrar a {
    font-size: 2rem;
    color: #FF3131;
    background: white;
    padding: .5rem;
    border-radius: .5rem;
    transition: .3s;
}

.btn-entrar a:hover {
    color: #ff31318c;
}